<div class="main-container">
    <div class="left-container col-7">
        <div class="logo">
            <div class="container">
                <img src="../../assets/images/logo.png">
            </div>

            <!-- <img src="../../assets/images/circle.png"> -->
        </div>
    </div>
    <div class="right-container  col-5">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Solutions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                    </ul>
                    <form class="form-inline buttons my-2 my-lg-0">
                        <button class="btn btn-outline-login my-2 my-sm-0" type="submit">Login</button>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get Started</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

</div>