<div class="conatiner">
    <div class="main-container">
        <div class="card">
            <div class="card-body1">
                <span>
                <h6 class="card-title">Quick cash disbursement</h6>
            </span>
                <p>
                    Get terms loans that your business needs with in 72hrs
                </p>
            </div>

        </div>
        <div class="card">
            <div class="card-body2">
                <span>
                    <h6 class="card-title">Low-intrest rate</h6>
                </span>
                <p>
                    Achieve your financial goals with an amazing intrest rate starting at 13% per anum
                </p>
            </div>

        </div>
        <div class="card">
            <div class="card-body3">
                <span>
                    <h6 class="card-title">Zero Paperwork</h6>
                </span>
                <p>
                    Get started instantly by submitting only your basic details & banck statements
                </p>
            </div>

        </div>

    </div>
    <div class="second-container">
        <div class="card card4">
            <div class="card-body4">
                <span>
                    <h6 class="card-title">Access your business finance</h6>
                </span>
                <p>
                    Manage banking,accounting & everything in between,in one platform
                </p>
            </div>

        </div>
        <div class="card">
            <div class="card-body5">
                <span>
                    <h6 class="card-title">Loans to finght COVID-19</h6>
                </span>
                <p>
                    Zero EMI for first 3 months on Back-to-Business loans of upto 1 Lakh
                </p>
            </div>

        </div>
    </div>
    <div class="third-container">
        <h3>
            Boost your Business with Open
        </h3>
        <hr>
        <span>Get Your hand on term loan that's crafted for your business</span>
        <div>
            <form class="form-inline buttons">
                <button class="btn btn-outline-login " type="submit">Get An Open Account</button>
            </form>
        </div>
    </div>
</div>