<div class="container">
    <div class="card loan-card">
        <div class="card-body">
            <div class="loan">
                <p>Loan Amount</p>
                <label><span>&#8377;</span>1,00,000</label>

            </div>
            <div class="emi">
                <p>Your EMI will be</p>
                <label><span>&#8377;</span>15,000</label>

            </div>
            <form class="form-inline buttons">
                <button class="btn btn-outline-login " type="submit">Get Money</button>
            </form>
        </div>

    </div>
</div>