/* You can add global styles to this file, and also import other style files */

.ngx-slider .ngx-slider-pointer {
    background-color: #663399!important;
    z-index: 2!important;
    outline: none!important;
    border-radius: 16px
}